/* Applies to the entire body of the HTML document (except where overridden by more specific
selectors). */
body {
  margin: 25px;
  background-color: rgba(0, 0, 0, 1);
  font-family: arial, sans-serif;
  font-size: 14px;
  background-color: rgba(255,255,255,1);
}

/* Applies to all <h1>...</h1> elements. */
h1 {
  font-size: 45px;
  font-weight: normal;
  margin-top: 5px;
  margin-bottom: 5px;
  color: rgba(68, 71, 216, 1);
}
h2 {
  font-size: 35px;
  font-weight: normal;
  margin-top: 5px;
  margin-bottom: 5px;
  color: rgba(8, 56, 4, .1);
}
h3 {
  font-size: 30px;
  font-weight: normal;
  margin-top: 5px;
  color: rgba(0, 128, 128, 1);
}


/* Applies to all elements with <... class="someclass"> specified. */
.someclass { color: red; }

/* Applies to the element with <... id="someid"> specified. */
#someid { color: green; }